<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        
    </style>
</head>
<body>
    @{ Html.RenderAction("ActionLinkRouting", "BasicLayout"); }
    <div>
        @RenderBody()
    </div>
</body>
</html>
