@model AccountManagers.ViewModels.FinalPageViewModel

@{
    Layout = "~/Views/_BasicLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayFinalPage</title>
</head>
<body>
    <div>
        <h2>Account info</h2>
        <ol>
            @foreach (var account in Model.Accounts)
            {
                <li style="padding: 20px; font-size: 16px">
                    <span>Username: </span>@account.Username
                    <br/>
                    <span>Gender: </span>@account.Gender
                    <br/>
                    <span>Country Name: </span>@account.CountryName
                    <br/>
                </li>
            }
        </ol>
    </div>
</body>
</html>
